* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #353535;
}

header{
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.logoIssu{
    position: relative;
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
}

.signIn{
    position: absolute;
    display: inline-block;
    padding: 10px;
    right: 0;
    margin-right: 70px;
    
}

a{
    color:dodgerblue;
    text-decoration: none;
}


.bloqueFormulario {
    position: relative;
    margin-top: 5.5%;
    padding-left: 15%;
    margin-bottom: 4.8%;
}

.google{
    background-color: rgb(80, 134, 237);
    height: 30px;
    position: relative;
    display: inline-block;
    padding: 3px;
    border-radius: 2.8px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 10px;
    padding-right: 10px;
}

.google > p{
    position: relative;
    display: inline-block;
    transform: translateY(-50%);
    color: white;
}
.google > img {
    height: 90%;
    background-color: white;
}

.facebook{
    background-color: #385899;
    height: 30px;
    position: relative;
    display: inline-block;
    padding: 3px;
    border-radius: 4px;
    padding-right: 10px;
}

.facebook > p {
    position: relative;
    display: inline-block;
    transform: translateY(-50%);
    color: white;
}

.facebook > img {
 height: 90%;
}

.bloqueFormulario > p {
    padding-bottom: 1.7%;
}

fieldset{
    border: none;
    padding: 0;
}

fieldset > div{
    padding-top: 7px;
}


fieldset > div > input{
    display: block;
    position: relative;
    margin-top: 7px;
    width: 500px;
    padding: 7px;
    padding-left: 11px;
}

::placeholder {
    opacity: 50%;
}

#formPassword {
    margin-top: 1.7%;
    margin-bottom: 1.7%;
}

#createAccount{
    border: dashed black 2px ;
    display: inline-block;
    padding: 11px 35px 11px 35px;
    border-radius: 23px;
    opacity: 25%;
    font-size: 17px;
    margin-top: 2%;
}







footer {
    position: relative;
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.08);
    bottom: 0;
    padding-top: 17px;
    padding-bottom: 17px;
    
}

footer > p {
    position: relative;
    display: inline-block;
    padding-left: 70px;
    bottom: 0;
}

footer > div {
    position: relative;
    display: inline-block;
    margin-left: 6%;
}

footer > div > p{
    position: relative;
    display: inline-block;
    padding-left: 23px;
}

footer > div > p > a {
    color: #353535;
}
